/* Card */
.card img {
  border-radius: var(--border-radius);
  aspect-ratio: 1.72 / 1;
  object-fit: cover;
  object-position: center;
}

.card {
  list-style: none;
  background-color: var(--color-bg-2);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
}

.card h3::after {
  content: "\f1e1";
  font-family: "Material Symbols Outlined";
  vertical-align: -4px;
}

.card h3 {
  padding: var(--space-s) var(--space-x-i);
  margin: 0;
  font-weight: 400;
}

.card a {
  display: block;
  color: var(--color-text);
  text-decoration: none;
}

.card a:is(:hover, :focus-visible) h3 {
  text-decoration: underline;
}

/* Grid */
#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: var(--space-l) var(--space-m);
  padding: 0;
  margin: 0 calc(-1 * var(--space-x-i));
}

/* Slicer horizontal */

#slider-h {
  --column-count: 4;
  --gap: var(--space-m);
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0 calc(-1 * var(--space-x-i));
  padding: 0;
  gap: var(--gap);
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  padding-bottom: var(--space-m);
}

#slider-h.scroll {
  overflow-x: scroll;
}

#slider-h .card {
  scroll-snap-align: start;
  align-self: flex-start;
  min-width: calc(
    (100% - (var(--column-count) - 1) * var(--gap)) / var(--column-count)
  );
}

@media (max-width: 1279px) {
  #slider-h {
    --column-count: 3;
  }
}

@media (max-width: 959px) {
  #slider-h {
    --column-count: 2;
  }
}

@media (max-width: 639px) {
  #slider-h {
    --column-count: 1;
  }
}

/* Slider vertical */
#slider-v::-webkit-scrollbar {
  display: none;
}

#slider-v {
  scrollbar-width: none;
  padding: var(--nav-height) 0 calc(var(--space-x-o) * 2)
    calc(var(--space-m) - var(--space-x-o));
  margin: 0;
  width: calc(var(--sidebar-width) - var(--space-x-o));
  display: none;
  flex-direction: column;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: max(
    calc(
      (100vw - var(--default-page-width) + 2 * var(--space-x-o)) / 2 -
        var(--space-x-o)
    ),
    var(--space-x-o)
  );
  height: 100vh;
  gap: var(--space-m);
}

#slider-v::before {
  content: "Weitere Projekte";
  position: fixed;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  padding: 0 var(--space-x-i);
  background-color: var(--color-bg-2);
  border-radius: 7rem;
  border: 1px solid var(--color-border);
  top: var(--space-x-o);
  width: calc(var(--sidebar-width) - var(--space-m));
  height: calc(var(--nav-height) - var(--space-x-o) * 2);
  background-color: var(--color-bg-2);
  background-color: color-mix(in srgb, var(--color-bg-2), transparent 60%);
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
}
