<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
    <h1>Hier kommt ein Projekt hin</h1>
  </body>
</html>