.project {
  display: grid;
  grid:
    "slider nav"
    "slider content" 1fr
    "slider footer" /
    20vw 1fr;
}

@media (max-width: 1114px) {
  .project {
    grid:
      "nav"
      "content" 1fr
      "slider"
      "footer" /
      1fr;
  }
}

.project article :where(p, ul, ol, blockquote, pre, table, figure, hr) {
  font-family: var(--tst-text-font);
}

.project article {
  --color-accent-fg: #00f;
}
