/* Default section */

.section {
  padding: 0 var(--space-x-o);
  margin: var(--space-y-o) auto;
  width: fit-content;
}

.section-content {
  max-width: min(
    calc(var(--default-page-width) + 2 * var(--space-x-i)),
    calc(100vw - 2 * var(--space-x-o))
  );
  padding: var(--space-y-i) var(--space-x-i);
  border-radius: var(--border-radius);
  width: 100vw;
}

/* Hero section */

header {
  display: contents;
}

header .section {
  margin-top: var(--space-xl);
}

header .section-content {
  max-width: min(
    calc(var(--page-width-text) + 2 * var(--space-x-i)),
    calc(100vw - 2 * var(--space-x-o))
  );
}

header .section h1 {
  font-size: 8rem;
  margin: 0.3em 0;
}

header .section p {
  font-size: 2rem;
}

.section p {
  max-width: 65ch;
}

/* Background section */

.bg .section-content {
  background-color: var(--color-bg-2);
  border: 1px solid var(--color-border);
}
