footer {
  background-color: var(--color-bg-2);
  display: grid;
  grid:
    "logo . . ."
    "about about address sitemap" /
    1fr 1fr 1fr 1fr;
  gap: 2rem;

  padding: 2rem;
}

footer ul {
  display: contents;
  padding: 0;
  margin: 0;
}

footer ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li a {
  text-decoration: none;
  color: #000;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer img {
  grid-area: logo;
  margin-bottom: 4rem;
}

footer address {
  grid-area: address;
}

footer .about {
  grid-area: about;
}

footer .sitemap {
  grid-area: sitemap;
}

/* Komponent: Bilder */

#bilder {
  display: flex;
  height: 15rem;
  width: 100%;
  gap: 2rem;
}

#bilder div {
  flex: 1 1 0;
}

#bilder :nth-child(1) {
  background-color: #bd7777;
}

#bilder :nth-child(2) {
  background-color: #7cbd77;
}

#bilder :nth-child(3) {
  background-color: #778cbd;
}

#bilder :nth-child(4) {
  background-color: #b877bd;
}
