footer.section {
  margin-bottom: var(--space-x-o);
}

footer .section-content {
  display: grid;
  grid:
    "logo social legal projekte"
    "about . . projekte"/
    2fr 1fr 1fr 1fr;
  gap: var(--space-m);
}

footer ul {
  display: contents;
  padding: 0;
  margin: 0;
}

footer ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li a {
  text-decoration: none;
  color: var(--color-text);
}

footer h3 {
  margin-bottom: var(--space-xs);
}

footer ul li a:is(:hover, :focus-visible) {
  text-decoration: underline;
}

footer img {
  grid-area: logo;
  max-height: 25rem;
}

footer .legal {
  grid-area: legal;
}

footer .about {
  grid-area: about;
}

footer .projekte {
  grid-area: projekte;
}

footer .social {
  grid-area: social;
}

@media (max-width: 768px) {
  footer .section-content {
    grid:
      "logo social  projekte"
      "logo legal  projekte"
      "about legal  projekte"/
      1.5fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  footer .section-content {
    grid:
      "social logo "
      "projekte projekte"
      "legal legal"
      "about about"/
      1.5fr 1fr;
  }
}
