footer.section {
  margin-bottom: var(--space-x-o);
}

footer .section-content {
  display: grid;
  grid:
    "logo . . ."
    "about about address sitemap" /
    1fr 1fr 1fr 1fr;
  gap: 2rem;
}

footer ul {
  display: contents;
  padding: 0;
  margin: 0;
}

footer ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li a {
  text-decoration: none;
  color: #000;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer img {
  grid-area: logo;
  margin-bottom: 4rem;
}

footer address {
  grid-area: address;
}

footer .about {
  grid-area: about;
}

footer .sitemap {
  grid-area: sitemap;
}
