@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap");

/* **** DEFAULTS **** */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  background-color: var(--tst-color-light);
}

main {
  display: contents;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  scroll-behavior: smooth;

  --tst-space-xss: 0.25rem;
  --tst-space-xs: 0.5rem;
  --tst-space-s: 1rem;
  --tst-space-m: 1.5rem;
  --tst-space-l: 2rem;
  --tst-space-xl: 3rem;
  --tst-space-xxl: 6rem;

  --tst-color-text: #333;
  --tst-color-light: #fff;
  --tst-color-dark: #000;
  --tst-color-primary: #00f;

  --tst-text-scale: 1.618;
  --tst-h6: 1.125rem;
  --tst-h5: calc(1rem * var(--tst-text-scale));
  --tst-h4: calc(var(--tst-h5) * var(--tst-text-scale));
  --tst-h3: calc(var(--tst-h4) * var(--tst-text-scale));
  --tst-h2: calc(var(--tst-h3) * var(--tst-text-scale));
  --tst-h1: calc(var(--tst-h2) * var(--tst-text-scale) * var(--tst-text-scale));

  --tst-heading-font: "DM Sans", sans-serif;
}

a {
  color: var(--tst-color-text);
  text-decoration: none;
}

a:hover {
  color: var(--tst-color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--tst-color-dark);
  font-weight: 500;
  font-family: var(--tst-heading-font);
}

h1 {
  font-size: var(--tst-h1);
}

h2 {
  font-size: var(--tst-h3);
}

h3 {
  font-size: var(--tst-h4);
}

h4 {
  font-size: var(--tst-h5);
}

h5 {
  font-size: var(--tst-h5);
}

h6 {
  font-size: var(--tst-h6);
}

/* **** INDEX **** */
.index {
  display: grid;
  grid:
    "nav nav nav"
    "header header header"
    "content content content" 1fr
    "footer footer footer" /
    1fr auto 1fr;
}

.index .tst-content-wrapper {
  grid-area: content;
}

.tst-content-wrapper {
  display: flex;
  margin: 0 auto;
  height: min-content;
  margin: 0 auto;
  gap: var(--tst-space-s);
  flex-wrap: wrap-reverse;
  padding: var(--tst-space-s) var(--tst-space-s) var(--tst-space-m);
}

.tst-content-wrapper article {
  margin-left: auto;
  width: clamp(45ch, 50%, 75ch);
}

.tst-content-wrapper nav {
  margin-right: auto;
}

.tst-content-wrapper.tst-wrapped article {
  margin-right: auto;
  width: clamp(45ch, 100%, 75ch);
}

.tst-content-wrapper.tst-wrapped nav {
  margin: 0;
  margin-right: auto;
}
