/* **** BOTH **** */
body > nav,
footer {
  display: flex;
  align-items: center;
  gap: var(--tst-space-s);
  padding: var(--tst-space-xs) var(--tst-space-s);
  width: 100%;
}

body > nav svg,
footer svg {
  height: 100%;
  color: var(--tst-color-dark);
}

footer p,
body > nav ul a {
  font-weight: 500;
  font-size: var(--tst-h6);
  font-family: var(--tst-heading-font);
  color: var(--tst-color-dark);
}

/* **** NAV **** */
body > nav {
  grid-area: nav;
}

body > nav svg {
  height: var(--tst-space-xl);
  margin-right: auto;
}

body > nav ul {
  display: contents;
  list-style: none;
}

body > nav > a {
  margin-right: auto;
}

/* **** FOOTER **** */

footer {
  grid-area: footer;
  margin-top: var(--tst-space-xl);
}

footer a {
  height: var(--tst-space-m);
}
