nav.section {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  margin: var(--space-x-o) auto;
}

/* nav.section::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(-1 * var(--space-x-o));
  left: min(calc((100vw - 100%) / -2), 0px);
  height: var(--nav-height);
  width: 100vw;
  z-index: -1;
  backdrop-filter: blur(5px);
} */

nav .section-content {
  height: calc(var(--nav-height) - 2 * var(--space-x-o));
  background-color: var(--color-bg-2);
  display: flex;
  gap: 2rem;
  align-items: center;

  padding-top: 0;
  padding-bottom: 0;
}

nav ul {
  display: contents;
  padding: 0;
  margin: 0;
  position: absolute;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  top: var(--nav-height);
  left: 0;
  right: 0;
  background-color: var(--color-bg-2);
  width: 100%;
}

nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-text);
}

nav ul li a:hover {
  text-decoration: underline;
}

nav .section-content > a {
  display: contents;
}

nav img {
  margin-right: auto;
  max-height: calc(var(--nav-height) - 1.5rem - 2 * var(--space-x-o));
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: auto;
}

/* Navigation Mobile */
nav button span {
  display: none;
}

nav button {
  display: none;
  appearance: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  height: calc(var(--nav-height) - 2rem);
  width: calc(var(--nav-height) - 2rem);
  background-color: var(--color-accent);
}

nav button.open {
  background-image: url("./img/close.svg");
}

@media (max-width: 768px) {
  nav button {
    display: block;
  }

  nav ul {
    display: none;
  }

  nav button.open + ul {
    display: flex;
  }
}
